html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: $navbar-default-bg;
  color: $navbar-default-color;
}
#footer a, #footer a:hover  {
  color: $navbar-default-color;
  text-decoration: none;

}

#app{
  min-height: 100%;
}
.navbar-default{
  background-color: $navbar-default-bg;
}
.navbar-brand{
  color: $navbar-default-color !important;
}
.navbar-default .navbar-nav>li>a{
  color: $navbar-default-color !important;
}
.navbar-default .navbar-nav>.dropdown>a .caret {
   border-top-color: $navbar-default-color !important;
   border-bottom-color: $navbar-default-color !important;
 }
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: $navbar-hover-bg;
  color: $navbar-default-color;
}
.dropdown-menu {
  background-color: $navbar-dropdown-default-bg;
}
.dropdown-menu>li>a {
  color: $navbar-default-color;
}
.dropdown-menu>li>a:hover {
  background-color: $navbar-dropdown-default-bg;
  color: $navbar-default-color;
}
.panel-default>.panel-heading{
  background-color: $panel-default-heading-bg;
  color: $navbar-default-color;
}
.panel-body{
  background-color: $panel-default-body-bg;
}
.panel-heading h1, .panel-heading h2, .panel-heading h3, .panel-heading h4, .panel-heading h5, .panel-heading h6{
  color: $navbar-default-color;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -142px;
}
.table >thead{
  background-color: $panel-default-heading-bg;
  color: $navbar-default-color;
}

.remove-icon{
    color: darkred;
    font-size: large;
}
.remove-icon:hover{
     color: #c50505;
 }
.column-actions{
  width: 220px;
}
.show-mobile{
  display: none;
}
.no-show-mobile{
  display: inline-block;
}

@media (max-width: 768px) {
  .email-link{
    display: none;
  }
  .email-icon{
    font-size: x-large;
  }
  #contacts_grid .column-email{
    text-align: center;
  }
  .show-mobile{
    display: inline-block;
  }
  .no-show-mobile{
    display: none;
  }
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: $navbar-default-color;
  }
  #contacts_grid .column-account_id{
    display:none;
  }
  #users_grid .column-roles, #users_grid .column-email{
    display:none;
  }
}
