.gray-bg{
    background-color: $panel-default-body-bg;
}
.remove-icon{
    color: darkred;
    font-size: large;
}
.remove-icon:hover{
     color: #c50505;
 }
.column-actions{
  width: 170px;
}
.show-mobile{
  display: none;
}
.no-show-mobile{
  display: inline-block;
}
@media (max-width: 768px) {
  .email-link{
    display: none;
  }
  .email-icon{
    font-size: x-large;
  }
  .column-email{
    text-align: center;
  }
  .show-mobile{
    display: inline-block;
  }
  .no-show-mobile{
    display: none;
  }
}